@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 95%;
    --foreground: 265 2% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --card-hover: 240 4.8% 90%;

    --popover: 240 15% 95%;
    --popover-foreground: 265 2% 14%;

    /* --primary: 207 100% 63%; */
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 90%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 90%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 90%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 85%;
    --input: 240 5.9% 85%;
    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;

    /* Magic UI */
    /* Custom properties */
    --navigation-height: 3.5rem;
    /* --color-one: #ffbd7a;
    --color-two: #fe8bbb;
    --color-three: #9e7aff; */
    --color-one: #7aaeff;
    --color-two: #8bbdfe;
    --color-three: #7affdf;
  }

  .dark {
    /* --background: 240 10% 6%; */
    --background: 210 1% 5%;
    --foreground: 0 0% 99%;

    --card: 210 1% 10%;
    --card-foreground: 0 0% 99%;
    --card-hover: 210 0.5% 28%;

    --popover: 210 4% 8%;
    --popover-foreground: 0 0% 99%;

    --primary: 0 0% 99%;
    --primary-foreground: 168 4% 10%;

    --secondary: 210 0.5% 28%;
    --secondary-foreground: 0 0% 99%;

    --muted: 210 0.5% 28%;
    --muted-foreground: 0 1% 70%;

    --accent: 210 0.5% 28%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 99%;

    --border: 210 0.5% 35%;
    --input: 210 0.5% 10%;
    --ring: 0 4.9% 83.9%;

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
  }
}

/* TODO: CONSIDER MOVING UPPY STYLES FROM GLOBAL */

.uppy-Dashboard-inner {
  background-color: var(--background) !important;
  width: 100% !important;
  /* height: 100% !important; */
  border: none !important;
}

.uppy-Dashboard-Item-previewImg {
}

.uppy-Dashboard-AddFiles {
  border: none !important;
}

.uppy-Dashboard-AddFilesPanel {
  background: linear-gradient(
    0deg,
    var(--background) 30%,
    var(--muted)
  ) !important;
  backdrop-filter: blur(25px) !important;
}

.uppy-StatusBar {
  background-color: var(--background) !important;
}

.uppy-StatusBar-content {
  color: rgb(27, 178, 64) !important;
}

.uppy-DashboardContent-bar {
  border: none !important;
}

.uppy-Dashboard-Item-previewInnerWrap {
  background-color: transparent !important;
}

.uppy-DashboardContent-bar {
  background-color: transparent !important;
}

.uppy-Root {
  color: var(--foreground) !important;
}

.uppy-Dashboard-Item-previewImg {
  background-color: transparent !important;
  border-radius: 0.75rem !important;
}

.uppy-Dashboard-AddFiles-title {
  color: var(--foreground) !important;
}

@layer base {
  * {
    @apply border-border;
    /* min-w-0  */
    /* scroll-behavior: smooth; */
  }

  /* html {
    @apply scroll-smooth antialiased bg-background;
    text-size-adjust: 100%;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  } */

  /* body {
    @apply bg-background text-foreground max-w-[100dvw] overflow-x-hidden m-0;
  } */

  body {
    @apply scroll-smooth bg-background text-foreground antialiased;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    text-size-adjust: 100%;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply md:text-lg;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  article {
    @apply flex flex-col;
  }

  /* p {
    @apply mb-6;
  } */
}

@layer utilities {
  .page-title-font {
    @apply font-bold tracking-[-.016em] md:tracking-[-.024em];
  }

  .nav-link {
    @apply text-foreground/80 hover:text-blue-500/60;
  }
  .card-dark {
    @apply bg-zinc-900 text-[hsl(0,0%,100%)];
  }
  .tab-bar-container {
    @apply glass-card-background z-50 flex min-w-[350px] shrink-0 flex-nowrap items-center justify-center rounded-full px-[20px] py-[10px] text-foreground shadow-outline backdrop-blur-[120px] transition-all duration-500 ease-in-out;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .glass-card-background {
    @apply bg-[rgba(235,235,235,0.15)];
  }

  .typing-effect {
    transition: opacity 0.4s ease;
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@layer components {
  .all-[unset] {
    all: unset;
  }

  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-muted;
  }

  /*  for scrollArea compoenent */
  /* .scrollable-area {
    @apply h-full max-h-dvh min-h-dvh overflow-y-auto overflow-x-hidden;
  } */
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/*
@media (min-width: 1400px) {
  .container {
    /* old: 1400px */
/* max-width: 100%; */
/* } */
/* } */
