@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 95%;
    --foreground: 265 2% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --card-hover: 0 0% 96%;

    --popover: 240 15% 95%;
    --popover-foreground: 265 2% 14%;

    /* --primary: 207 100% 63%; */
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 90%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 90%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 90%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 85%;
    --input: 240 5.9% 85%;
    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 240 10% 6%; */
    --background: 60 4% 8%;
    --foreground: 0 0% 99%;

    --card: 60 4% 16%;
    --card-foreground: 0 0% 99%;
    --card-hover: 60 4% 20%;

    --popover: 0 1% 16%;
    --popover-foreground: 0 0% 99%;

    --primary: 0 0% 99%;
    --primary-foreground: 168 4% 10%;

    --secondary: 60 0.5% 28%;
    --secondary-foreground: 0 0% 99%;

    --muted: 60 0.5% 28%;
    --muted-foreground: 0 1% 70%;

    --accent: 60 0.5% 28%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 99%;

    --border: 60 0.5% 35%;
    --input: 60 0.5% 35%;
    --ring: 0 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    /* min-w-0  */
  }

  /* html {
    @apply scroll-smooth antialiased bg-background;
    text-size-adjust: 100%;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  } */

  /* body {
    @apply bg-background text-foreground max-w-[100dvw] overflow-x-hidden m-0;
  } */

  body {
    @apply scroll-smooth antialiased bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    text-size-adjust: 100%;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply md:text-lg;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  article {
    @apply flex flex-col;
  }

  /* p {
    @apply mb-6;
  } */
}

@layer utilities {
  .nav-link {
    @apply text-foreground/80 hover:text-blue-500/60;
  }
  .card-dark {
    @apply bg-zinc-900 text-[hsl(0,0%,100%)];
  }
  .tab-bar-container {
    @apply glass-card-background shadow-outline text-foreground min-w-[350px] rounded-full z-50 py-[10px] px-[20px] flex flex-nowrap justify-center items-center shrink-0 backdrop-blur-[120px] transition-all duration-500 ease-in-out;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .glass-card-background {
    @apply bg-[rgba(235,235,235,0.15)];
  }

  .typing-effect {
    transition: opacity 0.4s ease;
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@layer components {
  .all-[unset] {
    all: unset;
  }

  /*  */
  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-muted;
  }

  /*  for scrollArea compoenent */
  /* .scrollable-area {
    @apply h-full max-h-dvh min-h-dvh overflow-y-auto overflow-x-hidden;
  } */
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/*
@media (min-width: 1400px) {
  .container {
    /* old: 1400px */
/* max-width: 100%; */
/* } */
/* } */
